*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    /* background-color: #7878851c; */
}

/* shared style  */
.btn{
  font-weight: 700;
  padding: 10px 24px;
  background: #E02C6D;
  color: #FFFFFF;
  border: none;
  border-radius: 41px;
  cursor: pointer;

}
.btn:hover{
  background: #44bd32;
}


header{
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 50px;
  color: #3A3A3A;
}
#navbar{
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin-bottom: 30px;

}
.logo{
  font-size: 24px;
}
.menu{
  display: flex;
  list-style: none;
  gap: 34px;

}
.menu li{
    cursor: pointer;
}

.menu a{
  text-decoration: none;
  color: #3A3A3A;
  font-weight: 600;
}
.menu #icon{
  font-size: 32px;
}

.banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-content{
  max-width: 580px;
}
.banner-title{
  font-size: 3.25rem;
  line-height: 60px;
  margin-bottom: 16px;
}
.banner-description{
  font-weight: 600;
  margin-bottom: 16px;
}
.banner-img img{
  width: 100%;
}

/* our sponsore style  */
.sponsore-container{
  max-width: 1110px;
  margin: 0 auto;
  margin-top: 70px;
}

.sponsor-companies{
  display: grid;
  grid-template-columns: repeat(7 ,1fr);
  align-items: center;
  padding: 10px 0;
  font-family: "Poppins", sans-serif;;

}

/* card section style  */
.card-container,.features{
  max-width: 1110px;
  margin: 100px  auto;
}
.card-heading{
  text-align: center;
  font-size: 1.75rem;
  font-weight: 600;
  color: #3A3A3A;
  margin-bottom: 30px;
}
.card-parent{
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3 ,1fr);
  gap: 30px;
}
.card{
  border-radius: 8px;
  padding: 15px;
  background: #FFFFFF;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
}
.card img{
  width: 100%;
  margin-bottom: 16px;
}
.card-content{
  text-align: left;
  font-size: 28px;
  font-weight: 500;
}
.card-content p{
  font-size: 14px;
   font-family: "Inter", sans-serif;
   color:#787885;
}
.card-content .price{
  font-size: 24px;
   font-family: "Inter", sans-serif;
   color: rgba(0, 0, 0, 0.87);
}
.card-btn{
  margin-top: 50px;
 text-align: right;

}
.card-btn .btn{
  color: rgba(224, 44, 109, 0.87);
  background:none;
  border: none;
  font-weight: 700;
  padding-right: 0;
}
.features{
  padding: 10px;
  display: flex;
 gap: 90px;
 align-items: center;
}
.features img{
  width: 100%;
}
.feature-title{
  color: #0A0826;
  font-size: 38px;
}
.feature-discription{
  color: #6C6C6C;
  margin-bottom: 16px;
}
footer{
 
}
.footer-container{
  color: white;
  background: black;
   padding: 50px;
  text-align: center;
}
.footer-title{
font-size: 24px;
color: #FFFFFF;
}
.footer-description{
  color: #D9DBE1;
  margin-bottom: 16px;
}
.footer-icon{
  font-size: 32px;
  margin-right: 16px;
}
@media screen and (max-width:576px) {
  header{
    text-align: center;
  }
  #navbar,.banner,.menu{
    flex-direction: column;
  }
  .menu{
    gap: 20px;
    margin-top: 20px;
  }
  .banner-title{
    font-size: 2rem;
  }
  .banner-img img{
    width: 100%;
  }
  .sponsor-companies{
  gap: 40px;
  grid-template-columns:1fr;
  justify-items: center;
}
  .card-parent{
  grid-template-columns:1fr;
  width: 100%;
}
.features{
  text-align: center;
  flex-direction: column;
}
.feature-title{
  font-size:24px;
  margin-bottom: 16px;
}
}

@media screen and (min-width:576px) and (max-width:992px) {
.banner{
  gap: 40px;
}
.banner-content{
  max-width: 500px;
  border: 2px solid red;
}
  .banner-title{
  font-size: 2rem;
}
.sponsor-companies{
  gap: 40px;
  justify-items: center;
  grid-template-columns: repeat(3 ,1fr);
}

.card-parent{

  grid-template-columns: repeat(2 ,1fr);
}
}