*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
}

/* shared style  */
.btn{
  font-weight: 700;
  padding: 10px 24px;
  background: #E02C6D;
  color: #FFFFFF;
  border: none;
  border-radius: 41px;
  cursor: pointer;

}
.btn:hover{
  background: #44bd32;
}


header{
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 50px;
  color: #3A3A3A;
}
#navbar{
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin-bottom: 30px;

}
.logo{
  font-size: 24px;
}
.menu{
  display: flex;
  list-style: none;
  gap: 34px;

}
.menu li{
    cursor: pointer;
}

.menu a{
  text-decoration: none;
  color: #3A3A3A;
  font-weight: 600;
}
.menu #icon{
  font-size: 32px;
}

.banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-content{
  max-width: 580px;
}
.banner-title{
  font-size: 3.25rem;
  line-height: 60px;
  margin-bottom: 16px;
}
.banner-description{
  font-weight: 600;
  margin-bottom: 16px;
}
.banner-img img{
  width: 100%;
}





@media screen and (max-width:576px) {
  header{
    text-align: center;
  }
  #navbar,.banner,.menu{
    flex-direction: column;
  }
  .menu{
    gap: 20px;
    margin-top: 20px;
  }
  .banner-title{
    font-size: 2rem;
  }
  .banner-img img{
    width: 100%;
  }
}

@media screen and (min-width:576px) and (max-width:992px) {
.banner{
  gap: 40px;
}
.banner-content{
  max-width: 500px;
  border: 2px solid red;
}
  .banner-title{
  font-size: 2rem;
}
}